
<br>
<br>
<p>This project aims at testing the 2 main variants of forms proposed by Angular and other technics and tools.</p>
<h3>Here are some links to help you start: </h3>
<ul>
  <li>
    <a target="_blank" rel="noopener" href="https://angular.io/guide/forms">Template-driven (simple) forms</a>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="https://angular.io/guide/reactive-forms">Reactive forms</a>
  </li>
</ul>

From the Angular documentation:

<h3 id="key-differences">Key differences</h3>
<p>The table below summarizes the key differences between reactive and template-driven forms.</p>
<style>
  table {width: 100%};
  td, th {vertical-align: top};
</style>
<table>
  <thead>
  <tr>
  <th></th>
  <th>Reactive</th>
  <th>Template-driven</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>Setup (form model)</td>
  <td>More explicit, created in component class</td>
  <td>Less explicit, created by directives</td>
  </tr>
  <tr>
  <td>Data model</td>
  <td>Structured</td>
  <td>Unstructured</td>
  </tr>
  <tr>
  <td>Predictability</td>
  <td>Synchronous</td>
  <td>Asynchronous</td>
  </tr>
  <tr>
  <td>Form validation</td>
  <td>Functions</td>
  <td>Directives</td>
  </tr>
  <tr>
  <td>Mutability</td>
  <td>Immutable</td>
  <td>Mutable</td>
  </tr>
  <tr>
  <td>Scalability</td>
  <td>Low-level API access</td>
  <td>Abstraction on top of APIs</td>
  </tr>
  </tbody>
  </table>